// Root Sass File
// ==============

// Import Deps
// --------------------------------------------------
// Prototyping some layout. Not sure if I want to
// come back and apply some SCP layout to this...
// --------------------------------------------------

// Resets
@import "lib/aglobof-sass.resets/normalize";
@import "lib/aglobof-sass.resets/box";

// Grid
$grid--item--break: 768px;
$grid-gutter__width: 20px;
@import "lib/aglobof-sass.grid/grid";

// Animations
@import "lib/aglobof-sass.animations/animate";

// Prototype some design
// --------------------------------------------------
// Just trowing some design prototypes under here
// while some other stuff gets sorted out. Current
// comp ideas - http://cl.ly/YGq7
// --------------------------------------------------

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.header {
  text-align: center;
  margin: 2em 0;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
}

@mixin list-clear-inline {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.nav {
  @include list-clear-inline;
}
