<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main>
      <div class="intro container">
        <div class="grid grid--gutters">
          <div class="grid--item">
            <h2>About</h2>
            <p>Glob is designed to be easy to setup with any type of project. It's a collection of modules that give a base set of style to get you up and running incredibly quickly.</p>
            <p>Every packages contains a <code class="code">_glob.scss</code> file that mimics a globbing technique, so that every package is as simple as it's installation command. Or, just import the files you want without the pseudo-glob.</p>
          </div>
          <div class="grid--item">
            <h2>Installation</h2>
            <pre class="code">$ bower install aglobof-sass --save</pre>
            <h2>Usage</h2>
            <pre class="code">@import "bower_components/aglobof-sass/glob";</pre>
          </div>
        </div>
      </div>

      <div id="resets" class="resets">
        <div class="container">
          <div class="grid">
            <div class="grid--item">
              <h1>Resets</h1>
            </div>
          </div>
          <div class="grid grid--gutters">
            <div class="grid--item">
              <h2>About</h2>
              <p>The Glob resets package does exactly what it sounds. It's a very straight-forward collection of reset tools, giving you normalize, a box model reset and some mixins.</p>
              <p>The mixins are where it's just a tiny bit trickier, the best way to know what's available is to check the <a href="http://github.com/aglobof/aglobof-sass.resets/">source</a>. There's list clears, clearfixes and some other goods.</p>
            </div>
            <div class="grid--item">
              <h2>Installation</h2>
              <pre class="code">$ bower install aglobof-sass.resets --save</pre>
              <h2>Usage</h2>
              <pre class="code">@import "bower_components/aglobof-sass.resets/glob";</pre>
            </div>
          </div>
        </div>
      </div>
      
      <div id="animations" class="animations container">
        <div class="grid">
          <div class="grid--item">
            <h1>Animations</h1>
          </div>
        </div>
        <div class="grid grid--gutters">
          <div class="grid--item">
            <h2>About</h2>
            <p>Animations are a critical step in the dance these days, the Glob animations packages exposes some super helpful mixins for keyframe animations, transitions and tranformations.</p>
            <p>This package is a bit tricky when it comes to implementation, there is a good bit to know about declaring the mixins. Make sure to check out the <a href="http://github.com/aglobof/aglobof-sass.animations">documentation</a> in this packages repo.</p>
          </div>
          <div class="grid--item">
            <h2>Installation</h2>
            <pre class="code">$ bower install aglobof-sass.animations --save</pre>
            <h2>Usage</h2>
            <pre class="code">@import "bower_components/aglobof-sass.animations/glob";</pre>
          </div>
        </div>
      </div>
      
    </main>
  </body>
</html>
