<header class="header">
  <div class="logo">Glob</div>
  <div class="subtitle">Packages of Sass mixins</div>
  <nav class="nav">
    <ul>
      <li><a class="nav--link" href="#resets">Resets</a></li>
      <li><a class="nav--link" href="#animations">Animations</a></li>
      <li><a class="nav--link" href="#utilities">Utilities</a></li>
      <li><a class="nav--link" href="#type">Type</a></li>
    </ul>
  </nav>
  <iframe src="http://ghbtns.com/github-btn.html?user=aglobof&repo=sass&type=watch&count=true"  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user=aglobof&repo=sass&type=fork&count=true"  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
</header>
