<head>
  <title>Glob</title>
  <meta name="description" content="Bower managed packages of Sass">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Style -->
  <link href="/css/main.css" type="text/css" rel="stylesheet" media="all">

  <!-- Type -->
  <link href='http://fonts.googleapis.com/css?family=Inconsolata|PT+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/img/glob32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/glob16.png" sizes="16x16" />
</head>
