aside.sidenav
  nav.nav
    ul
      li.nav--title Glob
      li: a.nav--item(href="https://github.com/aglobof") Getting Started
      li: a.nav--item(href="#") Examples
    ul
      li.nav--title Sass
      li: a.nav--item(href="https://github.com/aglobof/sass.resets") Resets
      li: a.nav--item(href="https://github.com/aglobof/sass.animations") Animations
      li: a.nav--item(href="https://github.com/aglobof/sass.type") Type
