aside.sidenav
  nav.nav
    ul
      li.nav--title Glob
      li: a.nav--item(href="#") Getting Started
      li: a.nav--item(href="#") Examples
    ul
      li.nav--title Sass
      li: a.nav--item(href="#") Resets
      li: a.nav--item(href="#") Animations
      li: a.nav--item(href="#") Type
      li: a.nav--item(href="#") Media
    ul
      li.nav--title JavaScript
      li: a.nav--item(href="#") Active
      li: a.nav--item(href="#") Foo
      li: a.nav--item(href="#") Bar
