doctype html
html(lang="en")
  head
    title Glob
    meta(name="description", content="Bower-managed globs of front-end goodness.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=PT+Mono|Oswald', rel='stylesheet', type='text/css')
    link(href="/main.css", rel="stylesheet")
  body.wrapper
