include includes/header
include includes/aside
div.inner
  header.header
    img.logo(src="https://avatars2.githubusercontent.com/u/6400246?s=140")
    h1 Glob
    h3 Globs of Interface Modules
  main!= contents
