doctype html
html(lang="en")
  head
    title Glob
    meta(name="description", content="Bower-managed globs of front-end goodness.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="src/css/main.css")
  body
    header
      h1 Glob
    section
    footer
      p footer
